html, body, #container {
  height: 100%;
}

*, *:before, *:after {
  user-select: none;
}

.expand-enter, .expand-leave {
  opacity: 0;
}

.scale-enter, .scale-leave {
  transform: scale(0, 0);
}

.right-enter, .right-leave {
  transform: translate3d(100%, 0, 0);
}